@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #D9D9D9;
  --black: #1C0202;
  --background: #310B85;
  --background-dark: #240073;
  --logo: #363CA7;
  --logo-clear: #7C87E2;
  --option1: #985EFE;
  --option1-dark: #8642FF;
  --option2: #EC417A;
  --option2-dark: #FC2C71;
  --option3: #FFCA28;
  --option3-dark: #FFC000;
  --option4: #01BCD6;
  --option4-dark: #009FB5;

	--disabled-clear: #959090;
	--disbaled-dark: #605d5d;

	--input-w: 300px;
}

body {
  width: 100%;
  min-height: 100vh;
	padding: 25px 0;
  background: var(--background);
	font-family: "Inter", sans-serif;
}

#root {
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.btn:disabled {
	background-color: var(--disabled-clear);
	border: none;
	color: var(--disbaled-dark);
}