@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #D9D9D9;
  --black: #1C0202;
  --background: #310B85;
  --background-dark: #240073;
  --logo: #363CA7;
  --logo-clear: #7C87E2;
  --option1: #985EFE;
  --option1-dark: #8642FF;
  --option2: #EC417A;
  --option2-dark: #FC2C71;
  --option3: #FFCA28;
  --option3-dark: #FFC000;
  --option4: #01BCD6;
  --option4-dark: #009FB5;

	--error: #e44d4d;

	--disabled-clear: #959090;
	--disbaled-dark: #605d5d;

	--input-w: 300px;
}

body {
  width: 100%;
  min-height: 100vh;
	padding: 25px 0;
  background: var(--background);
	font-family: "Inter", sans-serif;
	color: var(--white);
}

#root {
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: relative;
	animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
	content: "";
	box-sizing: border-box;
	position: absolute;
	inset: 0px;
	border-radius: 50%;
	border: 5px solid #FFF;
	animation: prixClipFix 2s linear infinite ;
}
.loader::after{
	inset: 8px;
	transform: rotate3d(90, 90, 0, 180deg );
	border-color: #FF3D00;
}

.btn:disabled {
	background-color: var(--disabled-clear);
	border: none;
	color: var(--disbaled-dark);
}

.error-msg {
	display: block;
	padding: 4px;
	background-color: var(--error);
	color: var(--white);
	border-radius: 5px;
	font-weight: 500;
	letter-spacing: 1px;
}

.option:checked + label{
	background-color: var(--logo);
	font-weight: bolder;
	letter-spacing: 1px;
	border: 2px solid var(--white);
}

.page-container {
	@apply w-[90%] max-w-lg mx-auto;
}

.subtitle {
	@apply text-white tracking-wide text-lg sm:text-xl;
}

.highlighted {
	@apply underline tracking-wide font-semibold px-4 sm:text-lg;
}

.option-0 {
	background-color: var(--option1);
}

.option-1 {
	background-color: var(--option2);
}

.option-2 {
	background-color: var(--option3-dark);
}

.option-3 {
	background-color: var(--option4-dark);
}

@keyframes rotate {
	0%   {transform: rotate(0deg)}
	100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
	0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
	50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
	75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}